:root {
--clr1: hsl(217, 19%, 35%);
--clr2: hsl(214, 17%, 51%);
--clr3: hsl(212, 23%, 69%);
--clr4: hsl(210, 46%, 95%);
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.3rem;
    font-family: Manrope;
    color: var(--clr2);
    line-height: 1.5;
}

img {
    height: 100%;
    max-width: 100%;
}